body {
  font-family: Arial, sans-serif;
}
#test-list {
  margin-bottom: 20px;
}
#test-list h1 {
  color: #1a861f;
}
#test-details {
  display: none;
}
#test-details h2 {
  color: #1a861f;
}
#test-details ul {
  list-style-type: none;
  padding: 0;
}
#test-details li {
  margin: 10px;
}
button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #45a049;
}
